@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;    
}

/*GLOBAL*/
#override{
    background-color: #DCE1DE;
}

/*BARRA DE NAVEGACIÓN*/
#override nav{
    background-color: #DCE1DE;
}
#override nav a{
    font-size:20px;
    color:#21295C;
    margin-left:10px;
    padding-bottom:3px;    
    border-bottom-style:solid;
    border-color:rgba(33,104,105,0);
    font-weight: 600;
}

#override #navbarNav a:hover{
    border-color:#216869;
    color:#216869;
}

#override li .active{
    color:#216869;
    font-weight: 700;
    border-color:#216869;
}
#override .carousel-inner{
    position:relative;
}
/*CAROUSEL*/
#override .frase{
    position: absolute;
    top:30%;
    bottom:25%;
    text-align: left;
    padding:0;
}
#override .frase p{    
    font-size:30px;    
    font-weight: 400;
}
#override .frase h5{    
    font-size:25px;
    font-weight:100;
}
/*Ajuste de brillo de las imágenes del carrusel*/
#override .carousel-inner img{
    filter:brightness(50%);
}
/*CONTENIDO*/
#override #contenido p{
    text-align: left;
    font-size: 19px;
}
#override .section_1{
    text-align: center;
    background-color: #216869;
    color:#ffffff;
    padding: 30px;
}
#override .section_1 p{
    font-size: 20px;
    font-weight: 300;
}
#override .section_2{
    text-align: center;
    background-color: rgb(220,225,222);
    padding: 30px;
    overflow: hidden;
}
#override .section_2 p{
    font-size: 20px;    
    font-weight: 400;
}
#override .section_2 a{
    text-decoration: none;
    color:rgb(220,225,222);
    font-size: 20px;
    display:block;
    width:200px;
    background-color: rgb(31,36,33);
    border-radius: 5px;
    padding:5px;
}
#override .section_3{
    text-align: center;
    background-color:#21295c;
    color:#ffffff;
    padding:20px 30px;
}
#override .section_3 p{
    font-size: 20px;    
    font-weight: 300;
}
#override .section_3 a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    display:block;
    width:200px;
    background-color:rgb(73,160,120); 
    border-radius: 5px;
    padding:5px;
}
#override #contenido a{
    transition: 0.5s;
}
#override #contenido a:hover{
    transform: scale(1.1);
}
#override h2{
    font-size: 25px;
    font-weight: bold;
}
#override h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
#override .tarjeta{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding:10px;
    border-radius: 2px;
    transition: 0.5s;
}
#override .tarjeta:hover{
    transform: translateY(-10px);
}

/*FOOTER*/
#override footer{
    background-color: rgb(31,36,33);
    color:#fff;
}
#override footer ul{
    display:flex;   
    justify-content: center;
    padding:0;
}
#override footer li{
    list-style: none;
    margin-right:15px;    
}
#override footer li:hover{
    transform:scale(1.4,1.4);

}

/*MEDIA QUERIES*/
@media(max-width:820px){
    #override .frase p{    
        font-size:4vw;
        padding:0;
        margin:0;
    }
    #override .frase h5{    
        font-size:4vw;
        font-weight:100;
    }
    #override .frase{
        top:20%;
        bottom:25%;
    }
    
}

@media(max-width:576px){
    #override #logo-demo{
        height:60px;
    }
}
